.bigContainer {
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: 10px 2fr 1fr 10px;
    grid-column-gap: 0;
    grid-row-gap: 10px;
    height: 325px;
    width: 300px;
    margin: 30px;
    margin-right: 20px;
  }
  
  .body { grid-area: 1 / 1 / 5 / 4; }
  .img { grid-area: 2 / 2 / 3 / 3; }
  .specs { grid-area: 3 / 2 / 4 / 3; }
  
  
  
  
  .body{
      background-color: orangered;
      border-radius: 5%;
      border: 5px solid orangered;
      /* display: flex; 
      justify-content: center; 
      align-items: center; */
    }
    
    
    

    .specs {
        color: azure;
    width: 100%;
    height: 100%;
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: small;
}

  .img {
    overflow: hidden;
    position: relative;
  }
  
  .img:hover .imagenes {
    cursor: pointer;
    transform: scale(1.2);
  }
  
  .imagenes {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s;
    transform-origin: center center;
    position: absolute;
    top: 0;
    left: 0;
  }
  