.side {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 250px;
  margin-left: 15px;
}

.container {
  margin-top: 20px;
}

.uls {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.lis {
  margin-bottom: 20px;
}

.h2s {
  font-size: 20px;
  font-weight: bold;
  color: #382E2A;
  margin-bottom: 10px;
}

.selects {
  position: relative;
  width: 100% !important;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #F08F6C !important;
  font-size: 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
}

.selects::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #382E2A;
  font-size: 14px;
  transition: transform 0.3s ease;
}

.selects:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(30, 144, 255, 0.3);
  background-color: #F08F6C !important;
}

.selects:hover {
  background-color: #BA988C !important;
}

.selects:hover::after {
  color: #382E2A;
}

.selects:focus::after {
  transform: translateY(-50%) rotate(180deg);
}

.options {
  color: #382E2A;
}

.options:hover {
  background-color: #F08F6C !important;
  color: #FFF;
}

.searchInput {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #F08F6C !important;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #382E2A;
  margin-bottom: 10px;
}